sudo: required

language: sh

services:
  - docker

jobs:
  include:
    - stage: Test
      script: make lint
    - script: make test_bash
    - script: make test_dash
    - script: make test_sh
    - script: make test_zsh
    - script: make coverage
    - stage: Coverage Report
      script: bash <(curl -s https://codecov.io/bash)
